@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;610;700&display=swap");
html {
  scroll-behavior: smooth;
  scroll-padding: 9vh;
}

#site {
  padding: 0 3em;
  background: #a3fbf7;
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: quicksand;
}

.favicon {
  border-radius: 50%;
}

.navbar {
  width: 100%;
  height: 8vh;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
  padding: 3px 3px;
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-box-shadow: 0 0 10px grey;
          box-shadow: 0 0 10px grey;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
}

nav button {
  background: none;
  border: none;
  padding: .75em 1em;
  position: relative;
}

.nav-btn-more {
  position: relative;
  cursor: pointer;
}

nav button, nav button a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: capitalize;
}

nav button span {
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  height: .2em;
  width: 0%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

nav button:hover span {
  position: absolute;
  height: .2em;
  width: 100%;
  background: #0077ff;
}

.more > ul {
  position: absolute;
  -webkit-transform: translateY(0.6em);
          transform: translateY(0.6em);
  list-style: none;
  width: 15em;
  height: 15em;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px #ececec;
          box-shadow: 5px 5px 10px #ececec;
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  pointer-events: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.more > button {
  cursor: pointer;
}

.more > button:focus span {
  height: .2em;
  width: 100%;
  background: green;
}

.more > button:focus + ul {
  pointer-events: all;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.more > ul li {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: .3s;
  transition: .3s;
}

.more > ul li:hover {
  background: rgba(9, 83, 219, 0.472);
}

.more > ul li:hover:first-child {
  border-radius: 5px 5px 0 0;
}

.more > ul li:hover:last-child {
  border-radius: 0 0 5px 5px;
}

.more > ul li > a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.navbar .logo {
  height: 100%;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

.navbar .logo:hover {
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

.navbar > a {
  height: inherit;
}

.active-head span {
  height: .2em;
  width: 100%;
  background: red;
}

#done {
  position: absolute;
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Hero Sections Here */
.hero {
  height: 90vh;
  width: 100%;
  position: relative;
  margin-top: 8.5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.hero .hero-container {
  border: 1px solid;
}

.hero .hero-container:first-child {
  grid-area: r;
}
/*# sourceMappingURL=style.css.map */